<a href="https://colab.research.google.com/github/Prerna0407/major_project/blob/main/Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing_Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [ ]:
#Dataset
data=pd.read_csv("/content/Data 1 MAJOR.csv")

In [ ]:
data.rename(columns={"Unnamed: 0":"Date"},inplace=True)

In [ ]:
#creating_new_column
data['Date']=pd.to_datetime(data["Date"],dayfirst=True)
data["year"]=data["Date"].dt.year
data["month"]=data["Date"].dt.month
data["day"]=data["Date"].dt.day

In [ ]:
#specifyfirstvalues
data.head(10)

,Date,User1,User2,User3,User4,User5,User6,User7,User8,User9,...,User494,User495,User496,User497,User498,User499,User500,year,month,day
0,2021-04-01,73.0,273.0,93.0,419.0,176.0,118.0,27.0,6.0,43.0,...,668.0,335.0,75.0,175.0,12.0,46.0,80.0,2021.0,4.0,1.0
1,2021-05-01,100.0,206.0,88.0,453.0,197.0,136.0,45.0,10.0,48.0,...,606.0,393.0,66.0,159.0,33.0,43.0,88.0,2021.0,5.0,1.0
2,2021-06-01,44.0,182.0,92.0,484.0,178.0,127.0,16.0,13.0,55.0,...,610.0,307.0,72.0,149.0,36.0,45.0,100.0,2021.0,6.0,1.0
3,2021-07-01,61.0,164.0,67.0,43.0,139.0,255.0,1.0,9.0,54.0,...,569.0,212.0,66.0,140.0,35.0,29.0,87.0,2021.0,7.0,1.0
4,2021-08-01,71.0,197.0,72.0,16.0,147.0,121.0,77.0,7.0,47.0,...,609.0,226.0,58.0,147.0,37.0,36.0,66.0,2021.0,8.0,1.0
5,2021-09-01,61.0,224.0,72.0,83.0,113.0,114.0,75.0,4.0,49.0,...,627.0,233.0,56.0,146.0,38.0,34.0,59.0,2021.0,9.0,1.0
6,2021-10-01,67.0,227.0,73.0,130.0,136.0,126.0,86.0,6.0,44.0,...,647.0,240.0,57.0,139.0,34.0,37.0,67.0,2021.0,10.0,1.0
7,2021-11-01,66.0,245.0,75.0,76.0,138.0,128.0,117.0,8.0,48.0,...,638.0,258.0,56.0,154.0,49.0,46.0,69.0,2021.0,11.0,1.0
8,2021-12-01,55.0,266.0,68.0,523.0,133.0,100.0,93.0,7.0,46.0,...,586.0,236.0,54.0,149.0,38.0,36.0,87.0,2021.0,12.0,1.0
9,2022-01-01,44.0,256.0,51.0,109.0,118.0,77.0,306.0,4.0,16.0,...,597.0,231.0,53.0,156.0,25.0,26.0,51.0,2022.0,1.0,1.0

In [ ]:
#specifylastvalues
data.tail()

,Date,User1,User2,User3,User4,User5,User6,User7,User8,User9,...,User494,User495,User496,User497,User498,User499,User500,year,month,day
20,2022-12-01,39.0,265.0,67.0,21.0,137.0,11.0,78.0,5.0,26.0,...,571.0,262.0,71.0,114.0,32.0,38.0,69.0,2022.0,12.0,1.0
21,2023-01-01,46.0,298.0,63.0,36.0,130.0,11.0,79.0,4.0,27.0,...,591.0,270.0,70.0,130.0,33.0,20.0,72.0,2023.0,1.0,1.0
22,2023-02-01,51.0,248.0,57.0,46.0,146.0,9.0,97.0,3.0,14.0,...,584.0,249.0,70.0,141.0,29.0,21.0,63.0,2023.0,2.0,1.0
23,2023-03-01,47.0,254.0,60.0,41.0,161.0,10.0,97.0,2.0,24.0,...,545.0,253.0,82.0,27.0,22.0,19.0,65.0,2023.0,3.0,1.0
24,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Columns: 504 entries, Date to day
dtypes: datetime64[ns](1), float64(499), object(4)
memory usage: 98.6+ KB

In [ ]:
#anynullvalue
data.isnull()

,Date,User1,User2,User3,User4,User5,User6,User7,User8,User9,...,User494,User495,User496,User497,User498,User499,User500,year,month,day
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [ ]:
data.describe()

,User1,User2,User3,User4,User5,User6,User7,User8,User9,User10,...,User494,User495,User496,User497,User498,User499,User500,year,month,day
count,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,...,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.0
mean,63.000000,248.000000,77.583333,194.958333,149.708333,104.916667,94.791667,7.000000,40.000000,76.958333,...,601.750000,274.791667,67.541667,138.708333,35.166667,39.375000,77.166667,2021.750000,6.500000,1.0
std,23.078317,35.751558,19.144568,233.190439,26.882157,54.164738,56.168984,3.501552,13.497182,33.909700,...,30.039467,53.964545,10.970233,28.309592,9.144572,11.757745,15.611219,0.675664,3.526299,0.0
min,38.000000,164.000000,49.000000,16.000000,106.000000,9.000000,1.000000,2.000000,14.000000,48.000000,...,543.000000,212.000000,53.000000,27.000000,12.000000,19.000000,51.000000,2021.000000,1.000000,1.0
25%,46.750000,226.250000,66.000000,45.250000,132.250000,91.250000,77.750000,4.000000,27.750000,57.750000,...,584.750000,236.750000,57.750000,133.000000,31.250000,31.250000,66.750000,2021.000000,3.750000,1.0
50%,55.000000,255.000000,72.500000,90.500000,145.000000,118.000000,94.000000,6.500000,45.000000,72.500000,...,602.500000,255.500000,68.000000,144.000000,35.500000,40.500000,73.000000,2022.000000,6.500000,1.0
75%,71.500000,274.000000,89.000000,268.500000,167.500000,128.750000,117.000000,8.250000,49.250000,77.500000,...,616.500000,300.250000,73.500000,150.250000,42.250000,47.250000,87.000000,2022.000000,9.250000,1.0
max,134.000000,298.000000,128.000000,979.000000,218.000000,255.000000,306.000000,16.000000,55.000000,187.000000,...,668.000000,393.000000,92.000000,175.000000,49.000000,58.000000,110.000000,2023.000000,12.000000,1.0

In [ ]:
#Dataset
long_data=pd.read_csv("/content/UserDataNew.csv")

In [ ]:
#Creating_new_columns
long_data['Date']=pd.to_datetime(long_data["Date"],dayfirst=True)
long_data["year"]=long_data["Date"].dt.year
long_data["month"]=long_data["Date"].dt.month
long_data["day"]=long_data["Date"].dt.day

In [ ]:
#specifyfirstvalues
long_data.head(10)

        Date    Users  Value  year  month  day
0 2021-04-01    User1     73  2021      4    1
1 2021-04-01   User10     79  2021      4    1
2 2021-04-01  User100    242  2021      4    1
3 2021-04-01  User101    164  2021      4    1
4 2021-04-01  User102    274  2021      4    1
5 2021-04-01  User103    390  2021      4    1
6 2021-04-01  User104     74  2021      4    1
7 2021-04-01  User105      1  2021      4    1
8 2021-04-01  User106      3  2021      4    1
9 2021-04-01  User107     51  2021      4    1

In [ ]:
#specifylastvalues
long_data.tail()

            Date   Users  Value  year  month  day
11995 2023-03-01  User95     54  2023      3    1
11996 2023-03-01  User96    101  2023      3    1
11997 2023-03-01  User97    160  2023      3    1
11998 2023-03-01  User98     66  2023      3    1
11999 2023-03-01  User99    268  2023      3    1

In [ ]:
long_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    12000 non-null  datetime64[ns]
 1   Users   12000 non-null  object
 2   Value   12000 non-null  int64
 3   year    12000 non-null  int64
 4   month   12000 non-null  int64
 5   day     12000 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 562.6+ KB

In [ ]:
#anynullvalue
long_data.isnull()

        Date  Users  Value   year  month    day
0      False  False  False  False  False  False
1      False  False  False  False  False  False
2      False  False  False  False  False  False
3      False  False  False  False  False  False
4      False  False  False  False  False  False
...      ...    ...    ...    ...    ...    ...
11995  False  False  False  False  False  False
11996  False  False  False  False  False  False
11997  False  False  False  False  False  False
11998  False  False  False  False  False  False
11999  False  False  False  False  False  False

[12000 rows x 6 columns]

In [ ]:
long_data.describe()

              Value          year         month      day
count  12000.000000  12000.000000  12000.000000  12000.0
mean     129.975750   2021.750000      6.500000      1.0
std      116.095739      0.661465      3.452196      0.0
min        1.000000   2021.000000      1.000000      1.0
25%       53.000000   2021.000000      3.750000      1.0
50%      100.500000   2022.000000      6.500000      1.0
75%      170.000000   2022.000000      9.250000      1.0
max     1599.000000   2023.000000     12.000000      1.0

In [ ]:
!pip install --upgrade nbformat

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nbformat in /usr/local/lib/python3.9/dist-packages (5.8.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.9/dist-packages (from nbformat) (5.3.0)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.9/dist-packages (from nbformat) (4.3.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.9/dist-packages (from nbformat) (2.16.3)
Requirement already satisfied: traitlets>=5.1 in /usr/local/lib/python3.9/dist-packages (from nbformat) (5.7.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.6->nbformat) (0.19.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.6->nbformat) (22.2.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.9/dist-packages (from jupyter-core->nbformat) (3.2.0)

In [ ]:
!pip install prophet

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: prophet in /usr/local/lib/python3.9/dist-packages (1.1.2)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from prophet) (3.7.1)
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.9/dist-packages (from prophet) (4.65.0)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.9/dist-packages (from prophet) (1.22.4)
Requirement already satisfied: holidays>=0.14.2 in /usr/local/lib/python3.9/dist-packages (from prophet) (0.22)
Requirement already satisfied: convertdate>=2.1.2 in /usr/local/lib/python3.9/dist-packages (from prophet) (2.4.0)
Requirement already satisfied: pandas>=1.0.4 in /usr/local/lib/python3.9/dist-packages (from prophet) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.0 in /usr/local/lib/python3.9/dist-packages (from prophet) (2.8.2)
Requirement already satisfied: cmdstanpy>=1.0.4 in /usr/local/lib/python3.9/dist-packages (from prophet) (1.1.0)
Requirement already satisfied: LunarCalendar>=0.0.9 in /usr/local/lib/python3.9/dist-packages (from prophet) (0.0.9)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.9/dist-packages (from convertdate>=2.1.2->prophet) (0.5.12)
Requirement already satisfied: hijri-converter in /usr/local/lib/python3.9/dist-packages (from holidays>=0.14.2->prophet) (2.2.4)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.9/dist-packages (from holidays>=0.14.2->prophet) (0.3.1)
Requirement already satisfied: ephem>=3.7.5.3 in /usr/local/lib/python3.9/dist-packages (from LunarCalendar>=0.0.9->prophet) (4.1.4)
Requirement already satisfied: pytz in /usr/local/lib/python3.9/dist-packages (from LunarCalendar>=0.0.9->prophet) (2022.7.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.0.0->prophet) (1.4.4)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.0.0->prophet) (1.0.7)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.0.0->prophet) (5.12.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.0.0->prophet) (23.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.0.0->prophet) (0.11.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.0.0->prophet) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.0.0->prophet) (8.4.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.0.0->prophet) (4.39.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.0->prophet) (1.16.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib>=2.0.0->prophet) (3.15.0)

In [ ]:
!pip install -qy pandas==1.3.4 numpy==1.21.4 seaborn==0.9.0 matplotlib==3.5.0 scikit-learn==0.20.1

Usage:
  pip3 install [options] <requirement specifier> [package-index-options] ...
  pip3 install [options] -r <requirements file> [package-index-options] ...
  pip3 install [options] [-e] <vcs project url> ...
  pip3 install [options] [-e] <local project path> ...
  pip3 install [options] <archive url/path> ...

no such option: -y

In [ ]:
import pandas as pd
from prophet import Prophet
from matplotlib import pyplot
from matplotlib.pyplot import figure
from sklearn.metrics import mean_absolute_error
import plotly.express as px
import plotly.graph_objects as go

In [ ]:
model=Prophet()

In [ ]:
df = long_data.groupby(long_data['Date'], as_index = False).mean()
df.head()

        Date    Value    year  month  day
0 2021-04-01  148.894  2021.0    4.0  1.0
1 2021-05-01  151.146  2021.0    5.0  1.0
2 2021-06-01  145.644  2021.0    6.0  1.0
3 2021-07-01  123.504  2021.0    7.0  1.0
4 2021-08-01  123.498  2021.0    8.0  1.0

In [ ]:
df = df[['Date','Value']]

In [ ]:
df

         Date    Value
0  2021-04-01  148.894
1  2021-05-01  151.146
2  2021-06-01  145.644
3  2021-07-01  123.504
4  2021-08-01  123.498
5  2021-09-01  122.648
6  2021-10-01  121.440
7  2021-11-01  133.598
8  2021-12-01  122.466
9  2022-01-01  114.878
10 2022-02-01  112.996
11 2022-03-01  109.466
12 2022-04-01  150.612
13 2022-05-01  165.222
14 2022-06-01  154.350
15 2022-07-01  133.974
16 2022-08-01  127.080
17 2022-09-01  131.094
18 2022-10-01  127.804
19 2022-11-01  127.048
20 2022-12-01  120.678
21 2023-01-01  121.190
22 2023-02-01  116.402
23 2023-03-01  113.786

In [ ]:
model.component_modes

In [ ]:
df.columns = ['ds','y']

In [ ]:
df.head()

          ds        y
0 2021-04-01  148.894
1 2021-05-01  151.146
2 2021-06-01  145.644
3 2021-07-01  123.504
4 2021-08-01  123.498

In [ ]:
model = Prophet(daily_seasonality=True).add_seasonality(name='yearly',period=365,fourier_order=70)

In [ ]:
model.fit(df)

INFO:prophet:Found custom seasonality named 'yearly', disabling built-in 'yearly' seasonality.
INFO:prophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:prophet:n_changepoints greater than number of observations. Using 18.
DEBUG:cmdstanpy:input tempfile: /tmp/tmpuf858s5p/yd46y3zi.json
DEBUG:cmdstanpy:input tempfile: /tmp/tmpuf858s5p/1_a1m9j5.json
DEBUG:cmdstanpy:idx 0
DEBUG:cmdstanpy:running CmdStan, num_threads: None
DEBUG:cmdstanpy:CmdStan args: ['/usr/local/lib/python3.9/dist-packages/prophet/stan_model/prophet_model.bin', 'random', 'seed=753', 'data', 'file=/tmp/tmpuf858s5p/yd46y3zi.json', 'init=/tmp/tmpuf858s5p/1_a1m9j5.json', 'output', 'file=/tmp/tmpuf858s5p/prophet_model0i4fhj77/prophet_model-20230408153038.csv', 'method=optimize', 'algorithm=newton', 'iter=10000']
15:30:38 - cmdstanpy - INFO - Chain [1] start processing
INFO:cmdstanpy:Chain [1] start processing
15:30:40 - cmdstanpy - INFO - Chain [1] done processing
INFO:cmdstanpy:Chain [1] done processing

In [ ]:
future_dates = model.make_future_dataframe(periods=12,freq='MS',include_history=True)
future_dates.shape

(36, 1)

In [ ]:
future_dates.head()

          ds
0 2021-04-01
1 2021-05-01
2 2021-06-01
3 2021-07-01
4 2021-08-01

In [ ]:
prediction=model.predict(future_dates)

In [ ]:
prediction.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,daily_lower,daily_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2021-04-01,3.295088,142.573845,148.873260,3.295088,3.295088,142.588522,142.588522,142.588522,52.723398,52.723398,52.723398,89.865125,89.865125,89.865125,0.0,0.0,0.0,145.883611
1,2021-05-01,4.110647,151.617262,157.639383,4.110647,4.110647,150.476115,150.476115,150.476115,52.723398,52.723398,52.723398,97.752717,97.752717,97.752717,0.0,0.0,0.0,154.586762
2,2021-06-01,4.953391,143.534154,149.754263,4.953391,4.953391,141.729832,141.729832,141.729832,52.723398,52.723398,52.723398,89.006435,89.006435,89.006435,0.0,0.0,0.0,146.683223
3,2021-07-01,5.768949,122.884780,128.897112,5.768949,5.768949,119.933091,119.933091,119.933091,52.723398,52.723398,52.723398,67.209694,67.209694,67.209694,0.0,0.0,0.0,125.702041
4,2021-08-01,6.611693,119.592041,125.809697,6.611693,6.611693,115.927789,115.927789,115.927789,52.723398,52.723398,52.723398,63.204392,63.204392,63.204392,0.0,0.0,0.0,122.539482

In [ ]:
fig = go.Figure([go.Scatter(x=df['ds'], y=df['y'],mode='lines',
                    name='Actual')])
#You can add traces using an Express plot by using add_trace
fig.add_trace(go.Scatter(x=prediction['ds'], y=prediction['yhat'],
                   mode='lines+markers',
                    name='predicted'))
#To display a figure using the renderers framework, you call the .show() method on a graph object figure, or pass the figure to the plotly.io.show function. 
#With either approach, plotly.py will display the figure using the current default renderer(s).
fig.show()

In [ ]:
model1=Prophet(daily_seasonality=True).add_seasonality(name='yearly',period=365,fourier_order=70)

In [ ]:
model1.fit(df)

INFO:prophet:Found custom seasonality named 'yearly', disabling built-in 'yearly' seasonality.
INFO:prophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:prophet:n_changepoints greater than number of observations. Using 18.
DEBUG:cmdstanpy:input tempfile: /tmp/tmpuf858s5p/cr9fwxiz.json
DEBUG:cmdstanpy:input tempfile: /tmp/tmpuf858s5p/olvdiko6.json
DEBUG:cmdstanpy:idx 0
DEBUG:cmdstanpy:running CmdStan, num_threads: None
DEBUG:cmdstanpy:CmdStan args: ['/usr/local/lib/python3.9/dist-packages/prophet/stan_model/prophet_model.bin', 'random', 'seed=23711', 'data', 'file=/tmp/tmpuf858s5p/cr9fwxiz.json', 'init=/tmp/tmpuf858s5p/olvdiko6.json', 'output', 'file=/tmp/tmpuf858s5p/prophet_modelbl0d968n/prophet_model-20230408153132.csv', 'method=optimize', 'algorithm=newton', 'iter=10000']
15:31:32 - cmdstanpy - INFO - Chain [1] start processing
INFO:cmdstanpy:Chain [1] start processing
15:31:34 - cmdstanpy - INFO - Chain [1] done processing
INFO:cmdstanpy:Chain [1] done processing

In [ ]:
model1.component_modes

{'additive': ['yearly',
  'daily',
  'additive_terms',
  'extra_regressors_additive',
  'holidays'],
 'multiplicative': ['multiplicative_terms', 'extra_regressors_multiplicative']}

In [ ]:
future_dates1=model1.make_future_dataframe(periods=10,freq='MS')

In [ ]:
prediction1=model1.predict(future_dates1)

In [ ]:
import plotly.graph_objects as go
fig = go.Figure([go.Scatter(x=df['ds'], y=df['y'],mode='lines',
                    name='Actual')])

fig.add_trace(go.Scatter(x=prediction1['ds'], y=prediction1['yhat'],
                   mode='lines+markers',
                    name='predicted'))
fig.update_xaxes(title_text='Year')
fig.update_yaxes(title_text='Value')

fig.show()